<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if(isEdit) {%>
        <title>اپدیت بلاگ</title>
    <% }else {%>
        <title>افزودن بلاگ</title>
    <% } %>
    <link rel="icon" href="img/favicon.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/fonts/flaticon.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link href="/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/authStyle.css">
</head>

<body>
    <div id="main" class="main-content-wraper">
        <div class="main-content-inner">
            <header class="header">
                <%-include('partials/_header') %>
            </header>
            <section id="hero" class="section-hero section-rotate">
                <%-include('partials/_title') %>
            </section>
            <div class="wrapper" style="background-color: #f1f1f1;">
                <div class="form-container">
                    <% if(isEdit) {%>
                        <div class="form-inner">
                             <form action="/blog/edit/<%=blog._id%>" class="login" method="post" enctype="multipart/form-data">
                                <% if(locals.messages.error) {%>
                                    <h5 style="color: red; text-align: center;">
                                        <%=locals.messages.error%>
                                    </h5>
                                <% }else if(locals.messages.succsess) {%>
                                    <h5 style="color: green; text-align: center;">
                                        <%=locals.messages.succsess%>
                                    </h5>
                                <% } %>
                                <div class="field">
                                    <input type="text" name="title" value="<%=blog.title%>" required>
                                </div>
                                <div class="field">
                                    <textarea style="width: 390px; height: 200px; border-radius: 5px;" name="describe" id="" cols="30" rows="10" placeholder="توضیحات کالا" ><%=blog.describe %></textarea>
                                </div>
                                <div class="field" id="Pcate" style="margin-top: 50px;">
                                  <label for="Pcate" style="color: black;">موضوع</label>
                                    <select name="subject" id="Pcate" style="width: 120px; text-align: center;">
                                      <option value="computer">کامپیوتر</option>
                                      <option value="accounting">حساب داری</option>
                                      <option value="graphic">گرافیک</option>
                                    </select>
                                </div>
                                <label for="oldImg" style="color: black;">عکس قدیمی بلاگ</label>
                                <div class="field">
                                    <img id="oldImg" style="height: 110px; width: 120px;" src="data:<%=blog.image.contentType%>;base64,<%=blog.image.data.toString('base64') %>" alt="">
                                </div>

                                <input type="file" name="blog_image" id="blog_image" style="color: black; padding-top: 70px;">
                                  <label for="blog_image" style="text-align: center; color:black;">لطفا عکس جدید بلاگ را اپلود کنید</label>
                                  
                                <div class="field btn">
                                    <div class="btn-layer"></div>
                                    <input type="submit" value="ویرایش بلاگ">
                                </div>
                            </form>
                        </div>
                    <% }else{%>
                        <div class="form-inner">
                            <form action="/blog/add" class="login" method="post" enctype="multipart/form-data">
                                <% if(locals.messages.error) {%>
                                    <h5 style="color: red; text-align: center;">
                                        <%=locals.messages.error%>
                                    </h5>
                                <% }else if(locals.messages.succsess) {%>
                                    <h5 style="color: green; text-align: center;">
                                        <%=locals.messages.succsess%>
                                    </h5>
                                <% } %>
                                <div class="field">
                                    <input type="text" placeholder="تایتل بلاگ" name="title" required>
                                </div>
                                <div class="field" style="margin-bottom: 170px; text-align: center;">
                                    <textarea style="width: 390px; height: 120px; border-radius: 5px;" name="shortDescribe" id="" cols="30" rows="10" placeholder=" توضیحات کوتاه بلاگ"></textarea>
                                    <textarea style="width: 390px; height: 250px; border-radius: 5px;" name="describe" id="" cols="30" rows="10" placeholder=" توضیحات کامل بلاگ"></textarea>
                                </div>
                                <div class="field" id="Pcate" style="margin-top: 350px;">
                                  <label for="Pcate" style="color: black;">موضوع بلاگ</label>
                                    <select name="categorie" id="Pcate" style="width: 120px; text-align: center;">
                                      <option value="computer">کامپیوتر</option>
                                      <option value="accounting">حساب داری</option>
                                      <option value="graphic">گرافیک</option>
                                    </select>
                                </div>
                                
                                  <input type="file" name="blog_image" id="blog_image" required style="color: black;">
                                  <label for="blog_image" style="text-align: center; color:black;">لطفا عکس تایتل را اپلود کنید</label>
                                <div class="field btn">
                                    <div class="btn-layer"></div>
                                    <input type="submit" value="افزودن بلاگ">
                                </div>
                            </form>
                        </div>
                    <% } %>
                </div>
            </div>
            <footer class="footer-section bg-secondary ptb-40">
                <%-include('partials/_footer')%>
            </footer>
        </div>
    </div>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easeScroll.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/magnific-popup.min.js"></script>
    <script src="/js/scripts.js"></script>
</body>

</html>