<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>بلاگ ها</title>
    <link rel="icon" href="img/favicon.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/fonts/flaticon.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link href="/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">

</head>
<body>

    <div id="main" class="main-content-wraper">
        <div class="main-content-inner">
            <header class="header">
                <%-include('partials/_header') %>
            </header>
            <section id="hero" class="section-hero section-rotate">
                <%-include('partials/_title') %>
            </section>

            <section id="discount" class="biz-product-section ptb-40">
                <% if(blogs.length==0) {%>
                    <h3 style="text-align: center;">وبلاگی وجود ندارد</h3>
                    <% }else {%>
                        <div class="container col-md-10 alert alert-primary">
                    <!-- Blogs -->
                            <% blogs.forEach(item=>{ %>
                                <div class="row">
                                    <div class="col-md-2"><img src="data:<%=item.image.contentType%>;base64,<%=item.image.data.toString('base64') %>" class="img-thumbnail"> </div>
                                    <div class="col-md-9 text-right">
                                        <h5><%=item.title %></h5>
                                        <p><%=item.shortDescribe %></p>
                                        <br>
                                        <a href="/blog/details/<%=item._id.toString() %>" class="pull-left btn btn-outline-primary">ادامه...</a>
                                    </div>
                                    <hr class="hr">
                                </div>
                            <% }) %>
                    <%} %>
                </div>
            </section>
            <footer class="footer-section bg-secondary ptb-40">
                <%-include('partials/_footer') %>
            </footer>
        </div>
    </div>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easeScroll.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/magnific-popup.min.js"></script>
    <script src="/js/scripts.js"></script>

</body>
</html>