<!doctype html>
<html lang="fa">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>مشخصات کالا</title>
    <link rel="icon" href="img/favicon.png" type="image/png" sizes="16x16" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/themify-icons.css" />
    <link rel="stylesheet" href="/fonts/flaticon.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" />
    <link href="/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/responsive.css" rel="stylesheet" />
  </head>
  <body>
    <div id="main" class="main-content-wraper">
      <div class="main-content-inner">
        <header class="header"><%-include('partials/_header') %></header>
        <section id="hero" class="section-hero section-rotate">
          <%-include('partials/_title') %>
        </section>
        <section id="discount" class="biz-product-section ptb-40">
          <div class="container col-md-10 alert alert-primary">
            <div class="row">
              <div class="col-md-2">
                <img
                  src="data:<%=blog.image.contentType%>;base64,<%=blog.image.data.toString('base64') %>"
                  class="img-thumbnail" />
              </div>
              <div class="col-md-9 text-right">
                <h5><%=blog.title %></h5>
                <p><%=blog.describe %></p>
              </div>
              <hr class="hr" />
              <div class="col-md-12">
                <span class="pull-right"
                  ><i class="fa fa-user"></i> نویسنده: <%=userName %>
                </span>
                <span class="pull-left"
                  ><i class="fa fa-clock-o"></i> <%=blog.date %>
                </span>
              </div>
            </div>
          </div>
        </section>
        <footer class="footer-section bg-secondary ptb-40">
          <%-include('partials/_footer') %>
        </footer>
      </div>
    </div>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>
