<!doctype html>
<html lang="fa">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>سبد خرید</title>
    <link rel="icon" href="img/favicon.png" type="image/png" sizes="16x16" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/themify-icons.css" />
    <link rel="stylesheet" href="/fonts/flaticon.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" />
    <link href="/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div id="main" class="main-content-wraper">
      <div class="main-content-inner">
        <header class="header"><%-include('partials/_header') %></header>
        <section id="hero" class="section-hero section-rotate">
          <%-include('partials/_title') %>
        </section>
        <% if(isNull) {%>
          <h4 style="text-align: center;">سبد خرید خالی است</h4>
        <% }else {%>
          <h2 style="text-align: center;">سبد خرید</h2>
          <section id="discount" class="biz-product-section ptb-40">
              <% if(locals.messages.error) {%>
                  <h3 style="color: red; text-align: center;"><%=locals.messages.error %></h3>
              <% } %>
            <div class="container col-md-10 alert alert-primary">
              <table class="table table-striped">
                <tr class="text-center">
                  <td>نام </td>
                  <td>مدل </td>
                  <td>تعداد </td>
                  <td>قیمت</td>
                </tr>
                <% products.forEach(item=>{ %>
                  <tr class="text-center">
                    <td><%=item.title %></td>
                    <td><%=item.model %></td>
                    <td><a href="/cart/inc/<%=item.id.toString() %>"><span style="border: 1px solid black; padding: 2px 10px;">+</span></a>  <%=repeat[item._id]%>  <a href="/cart/delete/<%=item.id.toString() %>"><span style="border: 1px solid black; padding: 2px 10px;">-</span></a></td>
                    <td><%=item.price%></td>
                    <td>
                      <a href="/cart/delete/<%=item._id.toString() %>" class="btn btn-sm btn-danger">حذف</a>
                    </td>
                  </tr>
                <% }) %>
               <tr class="text-center">
                  <td style="color: black; font-weight: bold;">قیمت کل</td>
                  <td colspan="3" style="font-weight: bold;">تومان <%=Price %></td>
                  <td>
                      <a href="/order/" style="background-color: green;" class="btn btn-sm btn-danger"  >پرداخت</a>
                  </td>
               </tr>
              </table>
            </div>
          </section>
        <% } %>
        <footer class="footer-section bg-secondary ptb-40">
          <%-include('partials/_footer') %>
        </footer>
      </div>
    </div>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easeScroll.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/magnific-popup.min.js"></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>
