<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> هنرستان ماندگار</title>
    <link rel="icon" href="img/favicon.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/fonts/flaticon.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link href="/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <div id="main" class="main-content-wraper">
        <div class="main-content-inner">
            <header class="header">
                <%-include('partials/_header') %>
            </header>
            <section id="hero" class="section-hero section-rotate">
                <%-include('partials/_title') %>
            </section>
            <section id="discount" class="biz-product-section ptb-40"  >
                <div class="biz-product-wrap">
                    <div class="container" >
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="text-center section-heading">
                                    <h3>جدید ترین محصولات</h3>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row" >
                            <div class="col-md-12" >
                                <div class="owl-carousel owl-theme biz-products carousel-indicator">
                                    <!-- Newer Products -->
                                    <% NewProduct.forEach(item=>{%>
                                        <div class="biz-single-product item" style="border:10px solid #7ab3ef" >
                                            <div class="biz-product-img border">
                                                <img src='data:<%=item.image.contentType%>;base64,<%=item.image.data.toString('base64') %>' alt='Smart Product' class='img-responsive'></div>
                                            <div class="biz-product-content">
                                                <p> نام: <%=item.title %></p>
                                                <div class="price">
                                                <h5><span class="original-price">قیمت: <%=item.price %> تومان</span></h5>
                                                </div>
                                                <p><strong>بازید</strong>:<%=item.view%></p>
                                                <div class="product-action-btn text-center mt-20">
                                                <a href="/product/details/<%=item._id.toString()%>">مشاهده جزئیات</a>
                                                </div>
                                            </div>
                                        </div>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <section id="products" class="biz-product-section ptb-90">
                <div class="biz-product-wrap">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="text-center section-heading">
                                    <h3>محصولات پر بازدید</h3>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row" id="createtag">
                            <div class="col-md-12">
                                <div class="owl-carousel owl-theme biz-products carousel-indicator">
                                    <% ViewProducts.forEach(item=>{%>
                                        <div class="biz-single-product item" style="border:10px solid #7ab3ef">
                                            <div class="biz-product-img border">
                                                <img src='data:<%=item.image.contentType%>;base64,<%=item.image.data.toString('base64') %>' alt='Smart Product' class='img-responsive'></div>
                                            <div class="biz-product-content">
                                                <p> نام: <%=item.title %></p>
                                                <div class="price">
                                                <h5><span class="original-price">قیمت: <%=item.price %> تومان</span></h5>
                                                </div>
                                                <p><strong>بازید</strong>:<%=item.view%></p>
                                                <div class="product-action-btn text-center mt-20">
                                                <a href="/product/details/<%=item._id.toString()%>">مشاهده جزئیات</a>
                                                </div>
                                            </div>
                                        </div>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

             <section id="discount" class="biz-product-section ptb-40"  >
                <div class="biz-product-wrap">
                    <div class="container" >
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="text-center section-heading">
                                    <h3>تخفیف ها</h3>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row" >
                            <div class="col-md-12" >
                                <div class="owl-carousel owl-theme biz-products carousel-indicator">
                                    <!-- Newer Products -->
                                    <% disCount.forEach(item=>{%>
                                        <div class="biz-single-product item" style="border:10px solid #7ab3ef" >
                                            <div class="biz-product-img border">
                                                <img src='data:<%=item.image.contentType%>;base64,<%=item.image.data.toString('base64') %>' alt='Smart Product' class='img-responsive'></div>
                                            <div class="biz-product-content">
                                                <p> نام: <%=item.title %></p>
                                                <div class="price">
                                                <h5><span class="original-price">قیمت: <del><%=item.price %></del> <%=item.price - +item.disCount %> تومان</span></h5>
                                                </div>
                                                <p><strong>بازید</strong>:<%=item.view%></p>
                                                <div class="product-action-btn text-center mt-20">
                                                <a href="/product/details/<%=item._id.toString()%>">مشاهده جزئیات</a>
                                                </div>
                                            </div>
                                        </div>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="discount" class="biz-product-section ptb-40">
                <div class="biz-product-wrap">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="text-center section-heading">
                                    <h3>جدید ترین بلاگ ها</h3>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="owl-carousel owl-theme biz-products carousel-indicator">
                                    <!-- Newer Blog -->
                                    <% newBlog.forEach(item=>{%>
                                        <div class="biz-single-product item" style="border:10px solid #7ab3ef">
                                            <div class="biz-product-img border">
                                                <img src='data:<%=item.image.contentType%>;base64,<%=item.image.data.toString('base64') %>' alt='Smart Product' class='img-responsive'></div>
                                            <div class="biz-product-content">
                                                <p> نام: <%=item.title %></p>
                                                <div class="price">
                                                </div>
                                                <p>تاریخ: <%=item.date %></p>
                                                <div class="product-action-btn text-center mt-20">
                                                <a href="/blog/details/<%=item._id.toString()%>">مشاهده جزئیات</a>
                                                </div>
                                            </div>
                                        </div>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr>
            <section id="contact" class="contact-us ptb-90">
                <div class="contact-us-wrap">
                    <% if(locals.messages.error) {%>
                        <h4 style="color: red; text-align: center;"><%=locals.messages.error %></h4>
                    <% }else if(locals.messages.succses){%>
                        <h4 style="color: green; text-align: center;">
                            <%=locals.messages.succses %>
                        </h4>
                    <% } %>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="section-heading" >
                                    <h3 style="color: black; font-weight: bold;">تماس با ما</h3>
                                    <p style="color: black;">در صورت داشتن هر گونه انتقاد یا پیشنهاد میتوانید از طریق فرم مربوطه با ما در ارتباط باشید.</p>
                                </div>
                                <div class="footer-address">
                                    <h6 style="color: black; font-weight: bold;">دفتر مرکزی</h6>
                                    <address style="color: black;">بابل سبزه میدان پشت اموزش پرورش روبه رو پارک شهرداری</address>
                                    <br>
                                    <ul>
                                        <li><i class="fa fa-envelope-o"></i><span style="color: black;">ایمیل :
                                            <a href="mailto:HonarestaneMandegar@gmail.com">HonarestaneMandegar@gmail.com</a></span>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li><i class="fa fa-send-o"></i><span style="color: black;">تماس :
                                                <a href="tel:32237367">32237367</a></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <form id="form2" method="post" action="/mail/send" class="contact-us-form" novalidate="novalidate">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="name" name="userName"
                                                    placeholder="نام" required>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-12">
                                            <div class="form-group">
                                                <input type="email" class="form-control" id="email" name="email"
                                                    placeholder="ایمیل" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-12">
                                            <div class="form-group">
                                                <input type="text" name="phone" value="" class="form-control" id="phon"
                                                    placeholder="تلفن">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <textarea name="text" id="message" maxlength="50" class="form-control" rows="7" cols="25"
                                                    placeholder="پیام" required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 mt-20">
                                            <button type="submit" class="btn btn-primary pull-left" id="btnContactUs">ارسال</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="footer-section bg-secondary ptb-40">
                <%-include('partials/_footer') %>
            </footer>
        </div>
    </div>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easeScroll.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/magnific-popup.min.js"></script>
    <script src="/js/scripts.js"></script>
</body>
</html>