<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ورود به اکانت</title>
    <link rel="icon" href="img/favicon.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/fonts/flaticon.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link href="/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/authStyle.css">
</head>
<body>
    <div id="main" class="main-content-wraper">
        <div class="main-content-inner">
            <header class="header">
                <%-include('partials/_header') %>
            </header>
            <section id="hero" class="section-hero section-rotate">
                <%-include('partials/_title') %>
            </section>
                <div class="wrapper">
                    <div class="form-container">
                        <div class="form-inner">
                            <form action="/auth/login" method="post" class="login">
                                <%if(locals.messages.error) {%>
                                    <h5 style="color: red; text-align: center;"><%=locals.messages.error%></h5>
                                <% } %>
                                <div class="field">
                                    <input type="text" name="identified" placeholder="ایمیل یا شماره تماس" required>
                                </div>
                                <div class="field">
                                    <input type="password" name="password" placeholder="رمز عبور" required>
                                </div>
                                <div class="pass-link"><a href="/auth/reset-password">فراموشی رمز عبور?</a></div>
                                <div class="field btn">
                                    <div class="btn-layer"></div>
                                    <input type="submit" value="ورود">
                                </div>
                                <div class="signup-link" style="color: black;">اکانت ندارید? <a href="/auth/singup">ثبت نام</a></div>
                            </form>
                        </div>
                    </div>
                </div>            
            <footer class="footer-section bg-secondary ptb-40">
                <%-include('partials/_footer') %>
            </footer>
        </div>
    </div>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easeScroll.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/magnific-popup.min.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/swal.js"></script>
    <script>
        if ("<%= locals.messages.error%>") {
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "<%=locals.messages.error%>",
            });
        } else if ("<%= locals.messages.success%>") {
            Swal.fire({
                title: "success",
                text: "<%= locals.messages.success%>",
                icon: "success"
            });
        }
    </script>
</body>
</html>