<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ایمیل های دریافتی</title>
    <link rel="icon" href="img/favicon.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/fonts/flaticon.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link href="/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

    <div id="main" class="main-content-wraper">
        <div class="main-content-inner">
            <header class="header">
                <%-include('partials/_header') %>
            </header>
            <section id="hero" class="section-hero section-rotate">
                <%-include('partials/_title') %>
            </section>
            <h2 style="text-align: center;">لیست پیام ها</h2>
            <section id="discount" class="biz-product-section ptb-40">
                <div class="container col-md-10 alert alert-primary">
                    <table class="table table-striped">
                        <tr class="text-center">
                            <th>نام و نام خانوادگی</th>
                            <th>ایمیل</th>
                            <th>شماره تماس</th>
                            <th>پیام</th>
                            <th>جواب داده شده</th>
                        </tr>
                        <% if(locals.messages.mails) {%>
                            <% locals.messages.mails.forEach(mail=>{%>
                                <tr class="text-center">
                                    <td>
                                        <%=mail.userName %>
                                    </td>
                                    <td>
                                        <%=mail.email %>
                                    </td>
                                    <td>
                                        <%=mail.phone %>
                                    </td>
                                    <td>
                                        <%=mail.text %>
                                    </td>
                                    <td>
                                        <%=mail.isAnswer %>
                                    </td>
                                    <td><a href="/mail/answer/<%=mail._id.toString()%>" class="btn btn-sm btn-success">جواب</a>
                                        <a href="/mail/delete/<%=mail._id.toString()%>" class="btn btn-sm btn-danger">حذف</a>
                                    </td>
                                </tr>
                                <% }) %>
                        <% }else {%>
                            <td colspan="4">پیامی وجود ندارد</td>
                        <% } %>
                    </table>
                </div>
            </section>
            <footer class="footer-section bg-secondary ptb-40">
                <%-include('partials/_footer') %>
            </footer>
        </div>
    </div>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easeScroll.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/magnific-popup.min.js"></script>
    <script src="/js/scripts.js"></script>
</body>

</html>