<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>لیست کاربر ها</title>
    <link rel="icon" href="img/favicon.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/fonts/flaticon.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link href="/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style>
        .search {
          width: 100%;
          position: relative;
          display: flex;
        }
        .searchTerm {
          width: 100%;
          border: 3px solid #00B4CC;
          border-right: none;
          padding: 5px;
          height: 20px;
          border-radius: 5px 0 0 5px;
          outline: none;
          color: #9DBFAF;
        }

        .searchTerm:focus{
          color: #00B4CC;
        }

        .searchButton {
          width: 40px;
          height: 36px;
          border: 1px solid #00B4CC;
          background: #00B4CC;
          text-align: center;
          color: #fff;
          border-radius: 0 5px 5px 0;
          cursor: pointer;
          font-size: 20px;
        }

        /*Resize the wrap to see the search bar change!*/
        .wrap{
          width: 30%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
    </style>
</head>

<body>
    <div id="main" class="main-content-wraper">
        <div class="main-content-inner">
            <header class="header">
                <%-include('partials/_header') %>
            </header>
            <section id="hero" class="section-hero section-rotate">
                <%-include('partials/_title') %>
            </section>
            <section>
                <form method="get" action="/user/search/">
                    <div class="main">
                        <div class="input-group">                    
                            <div class="input-group-append">
                              <button class="btn btn-secondary" type="submit">
                                <i class="fa fa-search"></i>
                              </button>
                            </div>
                            <input type="text" name="s" class="form-control" placeholder="دنبال چه کسی میگردید؟بر اساس نام" style="background: #f1f1f1;" />
                          </div>
                        </div>
                    </div>
                </form>
            </section>
            <br>
            <% if(locals.messages.error) {%>
                <h3 style="color: red; text-align: center;"><%=locals.messages.error%></h3>
            <% } %>
            <h2 style="text-align: center;">مدیریت کاربرها</h2>
            <section id="discount" class="biz-product-section ptb-40">
                <div class="container col-md-10 alert alert-primary">
                    <table class="table table-striped">
                        <tr class="text-center">
                            <th>نام و نام خانوادگی</th>
                            <th>ایمیل یا شماره</th>
                            <th>گروه کاربری</th>
                            <th>بن شده؟</th>
                        </tr>
                        <% if(users){%>
                            <% users.forEach(user=>{%>
                                <tr class="text-center">
                                    <td>
                                        <%=user.userName%>
                                    </td>
                                    <td>
                                        <%=user.identified%>
                                    </td>
                                    <td>
                                        <%=user.role%>
                                    </td>
                                    <td>
                                        <%=user.isBan%>
                                    </td>
                                    <td>
                                        <a href="/user/ban/<%=user._id.toString()%>"
                                            class="btn btn-sm btn-success">بن</a>
                                            <a href="/user/unban/<%=user._id.toString()%>"
                                            class="btn btn-sm btn-success">لغو بن</a>
                                        <a style="background-color: red;" href="/user/delete/<%=user._id.toString()%>"
                                            class="btn btn-sm btn-danger">حذف</a>
                                    </td>
                                </tr>
                                <% }) %>
                            <% }else {%>
                                <td colspan="3">یوزی وجود ندارد</td>
                            <% } %>
                    </table>
                </div>
            </section>
            <footer class="footer-section bg-secondary ptb-40">
                <%-include('partials/_footer') %>
            </footer>
        </div>
    </div>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easeScroll.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/magnific-popup.min.js"></script>
    <script src="/js/scripts.js"></script>
</body>

</html>